body{
	margin: 0px;
	padding: 0px;
	font-family: "microsoft yahei";

}
/*html{
	font-size: 62.5%;
}*/
.body-div-style{
	position: absolute;
	width: 100%;
	height: 100%;
	
}
.search-items{
	
	width: 100%;
	height: 50px;
	padding:10px 0px ;

}
.key-word-style{
	font-weight: bold;
}
.search-items>span{
	padding-left: 5px;
}
.search-items input{
	height: 30px;
}
#btnSearData,#btnAddInfos{margin-top:-5px}
#keyWord{
	width: 260px;
	height: 30px;
}
.data-content{
	width: 100%;
	height: 560px;
	position: relative;
	overflow: auto;
}
.data-content-header{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left:10px;
	font-size: 13px;
	font-weight: bold;
	background: #F5F5F5;
	border:1px solid #CCCCCC
}
.data-content-body{
	width: 100%;
	height: 520px;
	background: #FFFFFF;
	border:1px solid #CCCCCC;
	border-top: none;
	padding:10px;
}
.data-content-body-1{
	position:relative;
	width:100%;
	height: 40px;
	/*background: red;*/
}
.data-content-body-tip{
	position: absolute;
	width:100px;
	height: 40px;
	line-height: 40px;
}
.data-content-body-btn{
	position: absolute;
	height: 40px;
	right: 0px;
	top:2.5px
}
.data-content-body-2{
	position:relative;
	width:100%;
	height: 460px;
	padding:5px;
	border: 1px dashed #DBDBDB;
	overflow: auto;
}
.type-class-inner-div{
	position: relative;
	width: auto;
	height: 30px;
	padding:5px;
	float:left;
	cursor:default
}
.content-text{
	width:auto;
	height:30px;
	line-height: 20px;
	padding:3px;
	background: #41A0E6;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	float: left;
}
.close-type-btn{
	position: absolute;
	width:14px;
	height: 14px;
	float: left;
	border-radius: 50px;
	background: #000000;
	right:0px;
	top:0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 10px;
	font-size: 10px;
	cursor: pointer;
	display: none;
}
.page-content{
	width: 100%;
	height: 50px;
	/*background: blue;*/
	text-align: center;
	padding-top:8px;
}

/*滚动条*/
::-webkit-scrollbar {width: 6px;height: 6px;}
::-webkit-scrollbar-track-piece{
	
}
/* 滚动槽 */
::-webkit-scrollbar-track {   
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
     cursor: pointer;  
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {   
	  border-radius: 10px;   
	  background: #404040;
	 
	  background: rgba(64,64,64,0.85);    
	  /*-webkit-box-shadow: inset 0 0 6px rgba(77,76,75,1);*/
}
::-webkit-scrollbar-thumb:horizontal{
	 width: 6px;
	 border-radius: 10px; 
	 cursor: pointer;  
}
::-webkit-scrollbar-thumb:vertical{
	 width: 6px;
	 border-radius: 10px; 
	 cursor: pointer;  
}
/*::-webkit-scrollbar-thumb:window-inactive {
	    background: rgba(255,0,0,0.4);
}*/

.td-width{
	width: 11%;
	word-wrap: break-word;
	word-break: break-all;
}
.td-width-2{
	width: 14%;
	word-wrap: break-word;
	word-break: break-all;
}


