body{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";

}
/*html{
	font-size: 62.5%;
}*/
.body-div-style{
	position: absolute;
	width: 100%;
	height: 100%;
	
}
.tip-font-style{
	font-size: 12px;
}
.search-items{
	
	width: 100%;
	height: 50px;
	/*padding:10px 0px ;*/
	border-radius: 5px;
	border: 1px solid #DBDBDB;
	background: #ECF5FC;
}
.btn-items{
	position: relative;
	width: 100%;
	height: 50px;
	padding:10px 0px ;

}
.key-word-style{
	font-weight: bold;
}
.search-items>span{
	padding-left: 5px;
}
#btnSearData{}
#keyWord{
	width: 260px;
	height: 30px;
}
.search-items select{
	width: 150px;
	height: 30px;font-size: 10px;
}
.search-items input{
	width: 150px;
	height: 30px;font-size: 10px;
}
.position-btn{
	position: absolute;
	right: 40px;
}
.position-btn>a{
	margin-left: 10px;
	width: 90px;
}
.color-1{
	background: #4EBE5A;
	color: #FFFFFF;
}
.color-2{
	background:#F79702;
	color: #FFFFFF;
}
.color-3{
	background:#FD6154;
	color: #FFFFFF;
}
.the-btn-hover:hover{
	color: #FFFFFF;
}
.select-style{
	width: 200px;
	height: 30px;
}
.input-style{
	/* width: 160px;
	height: 30px; */
}
.data-content{
	position: relative;
	width: 100%;
	height: 510px;
	/*background: yellowgreen;*/
	overflow: auto;
}
.page-content{
	width: 100%;
	height: 50px;
	/*background: blue;*/
	text-align: center;
	padding-top:8px;
}
.page-content-2{
	position:relative;
	width:100%;height:30px;color:#BEBEBE;
}
.page-content-2-content{
	position: absolute;
	right: 10px;
	width: 160px;
	height:30px;
	top:5px;
}
textarea{
	resize: none;
}
.form-factory>.form-group{
	padding:0px 20px
}
/*滚动条*/
::-webkit-scrollbar {width: 6px;height: 6px;}
::-webkit-scrollbar-track-piece{
	
}
/* 滚动槽 */
::-webkit-scrollbar-track {   
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
     cursor: pointer;  
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {   
	  border-radius: 10px;   
	  background: #404040;
	 
	  background: rgba(64,64,64,0.85);    
	  /*-webkit-box-shadow: inset 0 0 6px rgba(77,76,75,1);*/
}
::-webkit-scrollbar-thumb:horizontal{
	 width: 6px;
	 border-radius: 10px; 
	 cursor: pointer;  
}
::-webkit-scrollbar-thumb:vertical{
	 width: 6px;
	 border-radius: 10px; 
	 cursor: pointer;  
}
/*::-webkit-scrollbar-thumb:window-inactive {
	    background: rgba(255,0,0,0.4);
}*/

.td-width{
	width: 11%;
	word-wrap: break-word;
	word-break: break-all;
}
.td-width-2{
	width: 14%;
	word-wrap: break-word;
	word-break: break-all;
}


.modal-header-text{
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: #71A4DB;
}
.add-input{
	width:33%;
	float: left;
}
.add-input-for-device{
	width:100%;
	float: left;
}
.modal-div-1{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #D3D3D3;
}
.modal-div-1 input{
	width: 100%;
	height: 30px;
}
.modal-div-1>span{
	padding-left: 20px;
}
.modal-div-2{
	width: 100%;
}
.modal-div-2 input{
	width: 100%;
	height: 30px;
}
.modal-div-2>span{
	padding-left: 20px;
}
.add-input>div{
	float: left;
	margin-left: 10px;
}
.add-input-text{
	width: 40%;
	text-align: right;
	height: 30px;
	line-height: 30px;
}
.add-input-text-other{
	width:14.555%;
	text-align: right;
	height: 30px;
	line-height: 20px;
	float: left;
}
.add-input-input-other{
	width: 82.66%;
	margin-left: 10px;float: left;
}
.add-input-input{
	width:50%;
	margin-left: 10px;
}

.modal-div-3{
	width: 100%;
	margin-top: 10px;
}
.add-input-textarea{
	width: 14%;
	text-align: right;
	height: 60px;
	line-height: 40px;
	float: left;
}
.add-input-inputtextarea{
	width: 82.66%;
	height: 60px;
	float: left;
	margin-left: 10px;
}
.modal-div-other{
	width: 100%;
	margin-top: 10px;
}
.add-input-other{
	width: 14.555%;
	text-align: right;
	height: 30px;

	float: left;
}
.add-input-otherinput{
	width: 82.66%;
	height: 30px;
	float: left;
	margin-left: 10px;
}

.add-input-text-4{
	width: 14%;
	text-align: right;
	height: 30px;
	line-height: 30px;
	float: left;
}

.add-input-input-4{
	width: 82.66%;
	height: 30px;
	float: left;
	margin-left: 10px;
}
.modal-div-5{
	width: 100%;
	text-align: center;
}

.search-items-left{
	width: 85%;
	height: 48px;
	
	float: left;
}
.search-items-right{
	width: 15%;
	height: 48px;
	line-height: 48px;
	float: left;
	text-align: center;
}
/*.search-items-left-1{
	width: 100%;
	height: 49px;
	
}
.search-items-left-2{
	width: 100%;
	height: 49px;
	
}*/
.div-4{
	width: 23%;
	height: 98px;
	float: left;
	padding-top:10px;
}
.div-4>div{
	width: 100%;
	height: 49px;
}
.div-4-left{
	width: 40%;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: right;
	padding-right:10px
}
.div-4-right{
	width: 60%;
	float: left;
}
.key-word-style{
	font-weight: bold;
}
.input-style{
	/* width: 120px;
	height: 30px; */
}
.search-items{
	
	width: 100%;
	height: 50px;
	padding:10px 0px ;

}
.key-word-style{
	font-weight: bold;
}
.search-items>span{
	padding-left: 5px;
}